<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Self-contained publish (win-x64): uses PMS.web.exe -->
      <!-- Framework-dependent publish: change to processPath="dotnet" arguments=".\PMS.web.dll" -->
      <aspNetCore processPath=".\PMS.web.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
          <windowsAuthentication enabled="false" />
        </authentication>
        <authorization>
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: A1BD462C-AE6A-4A7F-A732-04A7812F3E40-->