@{
    ViewData["Title"] = "الإعدادات";
}

<h2>الإعدادات</h2>

<ul>
    <li><a href="@Url.Action("ManageUsers")">إدارة المستخدمين</a></li>
    <li><a href="@Url.Action("ManageGates")">إدارة بوابات الدخول والخروج</a></li>
</ul>